* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  position: relative;
  width: 100vw;
  height: 520px;
  min-width: 1200px;
  /* overflow: hidden; */
  background: #23243a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-visual-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/메인 이미지.svg") center/cover no-repeat;
  opacity: 1;
  z-index: 1;
}

.main-visual-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-visual-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 59px;
  color: #fff;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  position: relative; /* 기준점 설정 */
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 0 24px;
  width: 540px;
  height: 60px;
  margin: 0 auto 70px auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
}

.search-bar-active {
  position: relative; /* 기준점 설정 */
  display: flex;
  align-items: center;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 24px;
  width: 100%;
  max-width: 800px;
  height: 60px;
  margin: 0 auto 70px auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
}

.search-icon {
  margin-right: 12px;
  display: block;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
  background: transparent;
  font-family: "Pretendard", sans-serif;
}

.search-bar-active input {
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
  background: transparent;
  font-family: "Pretendard", sans-serif;
}

.main-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 0;
}

.main-icons > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.banner {
  width: 1280px;
  height: 120px;
  border-radius: 8px;
  text-align: center;
  margin: 80px auto;
}

.section-main {
  width: 1280px;
  margin: 0 auto 40px auto;
  padding: 0;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.section-header h2 {
  font-size: 28px;
  font-weight: 700;
  color: #111;
}

.more-btn {
  background: #fff;
  color: #222;
  border: 1px solid #e5e5ec;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.card-list {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: nowrap; /* 한 줄로 고정 */
  padding-bottom: 8px;
}

.card {
  padding: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}

.card img {
  width: 308px;
  height: 210px;
  border-radius: 8px;
  cursor: pointer;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0 4px 4px;
  color: #767676;
}

.card-price {
  font-size: 18px;
  font-weight: 700;
  margin-left: 4px;
  margin-bottom: 4px;
}

.card-price span {
  color: #495cf8;
}

.card-desc {
  font-size: 14px;
  color: #767676;
  font-weight: 400;
  margin-left: 4px;
  margin-bottom: 12px;
}

.card-desc span {
  font-size: 12px;
  color: #dbdbdb;
  margin: 0 4px;
}

.card-agent {
  font-size: 12px;
  color: #333;
  font-weight: 700;
  margin-left: 4px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-agent img {
  width: 12px;
  height: 10px;
  object-fit: contain;
  display: inline-block;
}

.card-sale {
  width: 308px; /* 고정 너비 */
  overflow: hidden; /* 넘치는 부분 잘림 */
  display: flex;
  flex-direction: column;
}

.card-sale img {
  width: 100%; /* 부모 요소인 308px 기준으로 */
  height: 420px;
  object-fit: cover; /* 넘치는 가로는 자르고 세로는 맞춤 */
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.sale {
  margin-top: 120px;
}

.card-adress {
  font-size: 14px;
  color: #767676;
  font-weight: 400;
  margin-left: 4px;
  margin-bottom: 2px;
  white-space: nowrap; /* 줄 바꿈 없음 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* ...으로 표시 */
  max-width: 90%; /* 필요 시 너비 제한 */
}

.card-area {
  font-size: 14px;
  color: #767676;
  font-weight: 400;
  margin-left: 4px;
  margin-bottom: 120px;
}

.expanded-search-overlay {
  position: absolute; /* fixed ❌ */
  top: 100%; /* input 아래쪽에 붙이기 */
  left: 0;
  width: 100%; /* search-bar 너비 따라감 */
  min-height: 300px;

  background-color: white;
  z-index: 10;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  animation: fadeSlideIn 0.3s ease;
  border-radius: 0 0 8px 8px;
}

.expanded-search-container {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}

.expanded-search-container ul {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.expanded-search-container li {
  padding: 4px 0;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.expanded-search-container li :hover {
  cursor: pointer;
}

.search-column-1 {
  flex: 1;
  padding: 0 16px;
  min-width: 0;
  max-width: 400px;
  border-right: 1px solid #e5e5ec;
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
}

.search-column-1 li {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.search-column-1::-webkit-scrollbar {
  width: 5px;
}
.search-column-1::-webkit-scrollbar-thumb {
  background-color: #e5e5ec;
  border-radius: 2px;
}

.search-result-info-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.search-result-info-div::-webkit-scrollbar {
  color: #e5e5ec;
}

.search-column {
  flex: 1;
  padding: 0 16px;
  min-width: 0;
  max-width: 400px;
  border-top: 1px solid black;
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
}

.search-bottom-block {
  margin-bottom: 40px;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.expanded-search-box {
  padding: 40px 20px;
}

.expanded-search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.expanded-search-body {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.card-slider-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.card-slider-track {
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
}

.card-index-transparent {
  z-index: 10;
  top: 20px; /* 원하는 위치 조정 */
  left: 20px;
  color: #0000002c; /* 텍스트 색상 */

  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.stock-form-ddiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 10px;
}

.stock-info-div {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.stock-name-div {
  margin-bottom: 5px;
}

.search-bar-title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-result {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.search-bar-title-button {
  border: none;
  background-color: white;
  height: 30px;
}

.search-bar-title-button :hover {
  cursor: pointer;
}

.delete-recent-search {
  margin-left: 5px;
  font-size: 14px;
  color: #e5e5ec;
}

.no-search-result {
  width: 100%;
  max-width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-result-info {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.result-info {
  display: flex;
  justify-content: start;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.search-highlight {
  color: #495cf8;
}
