<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipinfo.project.admin.model.mapper.AdminMapper">

  

  <!-- 관리자 로그인 처리 -->
  <!-- MEMBER_EMAIL로 회원 정보 조회 -->
  <select id="login" parameterType="string" resultType="com.zipinfo.project.member.model.dto.Member">
    SELECT MEMBER_NO,
           MEMBER_EMAIL,
           MEMBER_PW,
           MEMBER_NICKNAME,
           MEMBER_NAME,
           MEMBER_AUTH,
           ENROLL_DATE,
           MEMBER_DEL_FL
    FROM MEMBER
    WHERE MEMBER_EMAIL = #{memberEmail}
      AND MEMBER_DEL_FL = 'N'
  </select>



<update id="deleteCommentByAdmin">
UPDATE "COMMENT" SET COMMENT_DEL_FL = 'Y' WHERE COMMENT_NO =  #{commentNo} AND COMMENT_DEL_FL = 'N' 
</update>


<update id="deleteBoardByAdmin">
UPDATE "BOARD" SET BOARD_DEL_FL = 'Y' WHERE BOARD_NO =  #{boardNo} AND BOARD_DEL_FL = 'N' 
</update>

	<!--  관리자 계정 발급 -->
  <insert id="createAdminAccount" parameterType="com.zipinfo.project.member.model.dto.Member" useGeneratedKeys="true" keyProperty="memberNo" keyColumn="MEMBER_NO">
  INSERT INTO MEMBER (
  MEMBER_NO,
  MEMBER_EMAIL,
  MEMBER_PW,
  MEMBER_IMG,
  ENROLL_DATE,
  MEMBER_DEL_FL,
  MEMBER_LOGIN,
  MEMBER_NICKNAME,
  MEMBER_NAME,
  MEMBER_AUTH,
  ACCESS_TOKEN,
  MEMBER_LOCATION,
  MEMBER_WITHDRAW_DATE
) VALUES (
  seq_member.NEXTVAL,
  #{memberEmail},
  #{memberPw},
  NULL,
  SYSDATE,
  'N',
  'E',
  #{memberNickname},
  #{memberName},
  #{memberAuth},
  NULL,
  #{memberLocation},
  NULL
)

</insert>


<!-- 이메일 중복 확인 -->
<select id="checkEmail" parameterType="string" resultType="int">
  SELECT COUNT(*)
  FROM MEMBER
  WHERE MEMBER_EMAIL = #{memberEmail}
    AND MEMBER_DEL_FL = 'N'
</select>

<!-- 관리자 계정 목록 조회 -->
<select id="selectAdminList" resultType="com.zipinfo.project.member.model.dto.Member">
  SELECT MEMBER_NO,
         MEMBER_EMAIL,
         MEMBER_NICKNAME,
         MEMBER_NAME,
         MEMBER_AUTH,
         ENROLL_DATE
  FROM MEMBER
  WHERE MEMBER_AUTH = 0
    AND MEMBER_DEL_FL = 'N'
  ORDER BY MEMBER_NO DESC
</select>


</mapper>
