<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipinfo.project.admin.model.mapper.AdminSaleMapper">

  <!-- 관리자 분양 매물 목록 조회 -->
  <select id="selectSaleList" resultType="com.zipinfo.project.sale.model.dto.Sale">
    SELECT
      SALE_STOCK_NO,
      MEMBER_NO,
      SALE_STOCK_FORM,
      SALE_STOCK_NAME,
      SALE_PRICE,
      SALE_STATUS,
      SALE_ADDRESS,
      SCALE,
      TO_CHAR(APPLICATION_START_DATE, 'YYYY-MM-DD') AS APPLICATION_START_DATE,
      TO_CHAR(APPLICATION_END_DATE, 'YYYY-MM-DD') AS APPLICATION_END_DATE,
      TO_CHAR(ANNOUNCEMENT_DATE, 'YYYY-MM-DD') AS ANNOUNCEMENT_DATE,
      COMPANY,
      CONTACT_INFO,
      ACQUISITION_TAX,
      SALE_SUPPLY_AREA,
      SALE_EXCLUSIVE_AREA,
      SALE_ROOM_COUNT,
      SALE_BATHROOM_COUNT,
      DEPOSIT,
      MIDDLE_PAYMENT,
      BALANCE_PAYMENT,
      REGION_NO
    FROM SALE_INFO
    ORDER BY SALE_STOCK_NO DESC
  </select>

  <!-- 관리자 분양 매물 등록 -->
  <insert id="addSale" useGeneratedKeys="true" keyProperty="saleStockNo">
  <selectKey keyProperty="saleStockNo" resultType="int" order="BEFORE">
    SELECT SEQ_SALE_INFO.NEXTVAL FROM DUAL
  </selectKey>
  INSERT INTO SALE_INFO (
    SALE_STOCK_NO,
    MEMBER_NO,
    SALE_STOCK_FORM,
    SALE_STOCK_NAME,
    SALE_PRICE,
    SALE_STATUS,
    SALE_ADDRESS,
    SCALE,
    APPLICATION_START_DATE,
    APPLICATION_END_DATE,
    ANNOUNCEMENT_DATE,
    COMPANY,
    CONTACT_INFO,
    ACQUISITION_TAX,
    SALE_SUPPLY_AREA,
    SALE_EXCLUSIVE_AREA,
    SALE_ROOM_COUNT,
    SALE_BATHROOM_COUNT,
    DEPOSIT,
    MIDDLE_PAYMENT,
    BALANCE_PAYMENT,
    REGION_NO
  ) VALUES (
    #{saleStockNo}, #{memberNo},
    #{saleStockForm},
    #{saleStockName},
    #{salePrice},
    #{saleStatus},
    #{saleAddress},
    #{scale},
    #{applicationStartDate},
    #{applicationEndDate},
    #{announcementDate},
    #{company},
    #{contactInfo},
    #{acquisitionTax},
    #{saleSupplyArea},
    #{saleExclusiveArea},
    #{saleRoomCount},
    #{saleBathroomCount},
    #{deposit},
    #{middlePayment},
    #{balancePayment},
    #{regionNo}
  )
  </insert>

  <!-- 이미지 등록 -->
  <insert id="addSaleImage">
  INSERT INTO SALE_IMG (
    SALE_IMG_NO,
    SALE_STOCK_NO,
    SALE_IMG_URL,
    SALE_IMG_ORDER,
    SALE_ORIGIN_NAME,
    SALE_RENAME
  ) VALUES (
    SEQ_SALE_IMG.NEXTVAL,
    #{saleStockNo},
    #{imageUrl},
    #{imageOrder},
    #{originName},
    #{rename}
  )
  </insert>
  
  <!-- 좌표 저장 -->
  <insert id="addSaleCoord">
  INSERT INTO SALE_COORD (
    SALE_STOCK_NO,
    LAT,
    LNG
  ) VALUES (
    #{saleStockNo},
    #{lat},
    #{lng}
  )
  </insert>

</mapper>
