<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipinfo.project.admin.model.mapper.AdminMapper">

  

  <!-- 관리자 로그인 처리 -->
  <!-- MEMBER_ID와 MEMBER_PW를 이용하여 회원 정보 조회 -->
  <select id="login" parameterType="com.zipinfo.project.member.model.dto.Member" resultType="com.zipinfo.project.member.model.dto.Member">
    SELECT * FROM MEMBER
    WHERE MEMBER_ID = #{memberId}
      AND MEMBER_PW = #{memberPw}
      AND MEMBER_DEL_FL = 'N'
  </select>



<update id="deleteCommentByAdmin">
UPDATE "COMMENT" SET COMMENT_DEL_FL = 'Y' WHERE COMMENT_NO =  #{commentNo} AND COMMENT_DEL_FL = 'N' 
</update>


<update id="deleteBoardByAdmin">
UPDATE "BOARD" SET BOARD_DEL_FL = 'Y' WHERE BOARD_NO =  #{boardNo} AND BOARD_DEL_FL = 'N' 
</update>

</mapper>
