<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipinfo.project.announce.model.mapper.EditAnnounceMapper">

    <!--
        공지사항 게시글 등록
        - useGeneratedKeys="true": DB에서 생성한 키를 자동으로 매핑
        - keyProperty="announceNo": 생성된 키를 DTO의 announceNo 필드에 저장
    -->
    <insert id="insertAnnounce" useGeneratedKeys="true" keyProperty="announceNo" parameterType="com.zipinfo.project.announce.model.dto.Announce">
        INSERT INTO ANNOUNCE (
            ANNOUNCE_TITLE,
            ANNOUNCE,
            ANNOUNCE_WRITE_DATE,
            ANNOUNCE_READ_COUNT,
            ANNOUNCE_DEL_FL,
            MEMBER_NO
        )
        VALUES (
            #{announceTitle},
            #{announce},
            SYSDATE,
            0,
            'N',
            #{memberNo}
        )
    </insert>

    <!--
        공지사항 게시글 수정
        - 본인 게시글만 수정 가능하도록 MEMBER_NO 조건 포함
        - 삭제되지 않은 게시글만 수정 가능
    -->
    <update id="updateAnnounce" parameterType="com.zipinfo.project.announce.model.dto.Announce">
        UPDATE ANNOUNCE
        SET
            ANNOUNCE_TITLE = #{announceTitle},
            ANNOUNCE = #{announce}
        WHERE ANNOUNCE_NO = #{announceNo}
          AND MEMBER_NO = #{memberNo}
          AND ANNOUNCE_DEL_FL = 'N'
    </update>

    <!--
        공지사항 게시글 삭제 (논리 삭제)
        - announceNo만 파라미터로 받음
        - 삭제 플래그를 Y로 변경
        - 회원번호 조건은 서비스나 컨트롤러에서 처리할 것 권장
    -->
    <update id="deleteAnnounce" parameterType="int">
        UPDATE ANNOUNCE
        SET ANNOUNCE_DEL_FL = 'Y'
        WHERE ANNOUNCE_NO = #{announceNo}
          AND ANNOUNCE_DEL_FL = 'N'
    </update>

    <!--
        공지사항 단일 조회
        - 삭제되지 않은 게시글만 조회
    -->
    <select id="selectAnnounce" resultType="com.zipinfo.project.announce.model.dto.Announce" parameterType="int">
        SELECT
            ANNOUNCE_NO AS announceNo,
            ANNOUNCE_TITLE AS announceTitle,
            ANNOUNCE AS announce,
            ANNOUNCE_WRITE_DATE AS announceWriteDate,
            ANNOUNCE_READ_COUNT AS announceReadCount,
            ANNOUNCE_DEL_FL AS announceDelFl,
            MEMBER_NO AS memberNo
        FROM ANNOUNCE
        WHERE ANNOUNCE_NO = #{announceNo}
          AND ANNOUNCE_DEL_FL = 'N'
    </select>

</mapper>
