<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipinfo.project.admin.model.mapper.InquiryMapper">

  <select id="selectAllInquiries" resultType="com.zipinfo.project.admin.model.dto.Inquiry">
    SELECT INQUIRY_ID, MEMBER_EMAIL, QUESTION, ANSWER, STATUS
    FROM INQUIRY
    ORDER BY INQUIRY_ID DESC
  </select>

  <select id="selectInquiryById" parameterType="int" resultType="com.zipinfo.project.admin.model.dto.Inquiry">
    SELECT INQUIRY_ID, MEMBER_EMAIL, QUESTION, ANSWER, STATUS
    FROM INQUIRY
    WHERE INQUIRY_ID = #{inquiryId}
  </select>

  <insert id="insertAnswer" parameterType="com.zipinfo.project.admin.model.dto.Inquiry">
    UPDATE INQUIRY SET
      ANSWER = #{answer},
      STATUS = '답변완료'
    WHERE INQUIRY_ID = #{inquiryId}
  </insert>

  <update id="updateAnswer" parameterType="com.zipinfo.project.admin.model.dto.Inquiry">
    UPDATE INQUIRY SET
      ANSWER = #{answer},
      STATUS = '답변완료'
    WHERE INQUIRY_ID = #{inquiryId}
  </update>

  <delete id="deleteInquiry" parameterType="int">
    DELETE FROM INQUIRY WHERE INQUIRY_ID = #{inquiryId}
  </delete>

</mapper>
