<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.zipinfo.project.neighborhood.model.mapper.NeighborhoodMapper">
	<!-- 게시글 수 조회 -->
	<select id="getListCount">
		SELECT COUNT(*)
		FROM "BOARD" B
		JOIN "MEMBER" M ON
		B.MEMBER_NO = M.MEMBER_NO
		WHERE BOARD_DEL_FL = 'N'
		AND
		M.MEMBER_DEL_FL
		='N'
	</select>

	<!-- 특정 게시판의 지정된 페이지 목록 조회 -->
	<select id="selectBoardList">
		SELECT
		B.BOARD_NO,
		B.BOARD_TITLE,
		M.MEMBER_NICKNAME,
		B.READ_COUNT,
		B.BOARD_CONTENT,
		B.BOARD_SUBJECT,
		B.MEMBER_NO ,
		B.TOWN_NO,
		M.MEMBER_NICKNAME,

		(
		SELECT COUNT(DISTINCT
		CL.COMMENT_NO)
		FROM "COMMENT" C
		JOIN "COMMENT_LIKE" CL ON CL.COMMENT_NO
		= C.COMMENT_NO
		WHERE C.BOARD_NO
		= B.BOARD_NO
		AND C.COMMENT_DEL_FL = 'N'
		) AS COMMENT_COUNT,

		(SELECT
		COUNT(*)
		FROM "LIKE" L
		WHERE L.BOARD_NO =
		B.BOARD_NO) AS LIKE_COUNT,

		(SELECT BT.TOWN_NAME
		FROM "BOARD_TOWN" BT
		WHERE BT.TOWN_NO = B.TOWN_NO)
		AS TOWN_NAME,

		(SELECT BC.CITY_NAME
		FROM
		"BOARD_CITY" BC
		WHERE BC.CITY_NO =
		(
		SELECT BT.CITY_NO
		FROM "BOARD_TOWN"
		BT
		WHERE BT.TOWN_NO = B.TOWN_NO
		)) AS
		CITY_NAME,
		(SELECT BC.CITY_NO
		FROM
		"BOARD_CITY" BC
		WHERE BC.CITY_NO = (
		SELECT BT.CITY_NO

		FROM "BOARD_TOWN"
		BT
		WHERE BT.TOWN_NO = B.TOWN_NO)) AS
		CITY_NO,
        TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD')
		AS BOARD_WRITE_DATE

		FROM "BOARD" B
		JOIN "MEMBER" M ON B.MEMBER_NO =
		M.MEMBER_NO

		WHERE B.BOARD_DEL_FL = 'N'
		AND M.MEMBER_DEL_FL = 'N'

		ORDER BY
		B.BOARD_NO DESC
	</select>


	<!-- 검색할 때 페이지네이션을 위한 조회 -->
	<select id="getSearchCount">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN "MEMBER" M ON B.MEMBER_NO =
		M.MEMBER_NO
		JOIN BOARD_TOWN BT ON B.TOWN_NO = BT.TOWN_NO
		JOIN BOARD_CITY
		CT ON BT.CITY_NO = CT.CITY_NO
		WHERE B.BOARD_DEL_FL = 'N'
		AND
		M.MEMBER_DEL_FL = 'N'
		<if test="boardSubject != null">
			AND BOARD_SUBJECT = #{boardSubject}
		</if>
		<if test="townNo != null">
			AND BT.TOWN_NO = #{townNo}
		</if>
		<if test="cityNo != null">
			AND CT.CITY_NO = #{cityNo}
		</if>

		<if test="key != null and query!=null">

			<choose>
				<!-- 제목 검색 (key의 값이 "t"인 경우) -->

				<when test='key=="t"'>
					AND BOARD_TITLE LIKE '%' || #{query} || '%'
					<!-- %{#qurey}% 는 #query 자체를 검색하도록 인식함 -->
				</when>


				<!-- 제목 검색 (key의 값이 "t"인 경우) -->


				<when test='key=="c"'>
					AND REGEXP_REPLACE(BOARD_CONTENT, '&lt;[^&gt;]*&gt;', '') LIKE '%' ||
					#{query} || '%'
				</when>

				<!-- 내용 검색 (key의 값이 "c"인 경우) -->


				<when test='key=="tc"'>
					AND (
					BOARD_TITLE LIKE '%' || #{query} || '%'
					OR REGEXP_REPLACE(BOARD_CONTENT, '&lt;[^&gt;]*&gt;', '') LIKE '%' ||
					#{query} || '%'
					)
				</when>


				<!-- 제목내용 검색 (key의 값이 "tc"인 경우) -->


				<otherwise>
					AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
				</otherwise>
				<!-- 다른 검색 = 작성자 검색(key의 값이 "w"인 경우) -->
			</choose>
		</if>
		ORDER BY
		B.BOARD_NO DESC
	</select>

	<!-- 검색된 페이지 목록 조회 -->
	<select id="selectSearchList">
		SELECT
		B.BOARD_NO,
		B.BOARD_TITLE,
		M.MEMBER_NICKNAME,
		B.READ_COUNT,
		B.BOARD_CONTENT,
		B.BOARD_SUBJECT,
		B.MEMBER_NO ,
		B.TOWN_NO,

		(
		SELECT
		COUNT(DISTINCT
		CL.COMMENT_NO)
		FROM "COMMENT" C
		JOIN "COMMENT_LIKE" CL ON
		CL.COMMENT_NO
		= C.COMMENT_NO
		WHERE C.BOARD_NO
		= B.BOARD_NO
		AND
		C.COMMENT_DEL_FL = 'N'
		) AS COMMENT_COUNT,

		(SELECT
		COUNT(*)
		FROM "LIKE" L
		WHERE L.BOARD_NO =
		B.BOARD_NO) AS LIKE_COUNT,

		(SELECT BT.TOWN_NAME
		FROM
		"BOARD_TOWN" BT
		WHERE BT.TOWN_NO = B.TOWN_NO)
		AS TOWN_NAME,

		(SELECT
		BC.CITY_NAME
		FROM
		"BOARD_CITY" BC
		WHERE BC.CITY_NO =
		(
		SELECT BT.CITY_NO
		FROM "BOARD_TOWN"
		BT
		WHERE BT.TOWN_NO = B.TOWN_NO
		)) AS
		CITY_NAME,
		(SELECT
		BC.CITY_NO
		FROM
		"BOARD_CITY" BC
		WHERE BC.CITY_NO = (
		SELECT BT.CITY_NO

		FROM "BOARD_TOWN"
		BT
		WHERE BT.TOWN_NO = B.TOWN_NO)) AS
		CITY_NO,
        TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD')
		AS BOARD_WRITE_DATE

		FROM "BOARD" B
		JOIN "MEMBER" M ON B.MEMBER_NO =
		M.MEMBER_NO
		JOIN BOARD_TOWN BT ON B.TOWN_NO = BT.TOWN_NO
		JOIN BOARD_CITY
		CT ON BT.CITY_NO = CT.CITY_NO

		WHERE B.BOARD_DEL_FL = 'N'
		AND
		M.MEMBER_DEL_FL = 'N'
		<if test="boardSubject != null">
			AND BOARD_SUBJECT = #{boardSubject}
		</if>
		<if test="townNo != null">
			AND BT.TOWN_NO = #{townNo}
		</if>
		<if test="cityNo != null">
			AND CT.CITY_NO = #{cityNo}
		</if>

		<if test="key != null and query!=null">

			<choose>
				<!-- 제목 검색 (key의 값이 "t"인 경우) -->

				<when test='key=="t"'>
					AND BOARD_TITLE LIKE '%' || #{query} || '%'
					<!-- %{#qurey}% 는 #query 자체를 검색하도록 인식함 -->
				</when>


				<!-- 제목 검색 (key의 값이 "t"인 경우) -->


				<when test='key=="c"'>
					AND REGEXP_REPLACE(BOARD_CONTENT, '&lt;[^&gt;]*&gt;', '') LIKE '%' ||
					#{query} || '%'
				</when>

				<!-- 내용 검색 (key의 값이 "c"인 경우) -->


				<when test='key=="tc"'>
					AND (
					BOARD_TITLE LIKE '%' || #{query} || '%'
					OR REGEXP_REPLACE(BOARD_CONTENT, '&lt;[^&gt;]*&gt;', '') LIKE '%' ||
					#{query} || '%'
					)
				</when>


				<!-- 제목내용 검색 (key의 값이 "tc"인 경우) -->


				<otherwise>
					AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
				</otherwise>
				<!-- 다른 검색 = 작성자 검색(key의 값이 "w"인 경우) -->
			</choose>
		</if>
		ORDER BY
		B.BOARD_NO DESC
	</select>

	<resultMap
		type="com.zipinfo.project.neighborhood.model.dto.Neighborhood"
		id="board_rm">
		<id property="boardNo" column="BOARD_NO" />

		<!-- 해당 게시글 댓글 목록 조회 후 필드에 저장 -->
		<collection property="commentList"
			select="selectCommentList" column="BOARD_NO"
			javaType="java.util.ArrayList"
			ofType="com.zipinfo.project.neighborhood.model.dto.NeighborhoodComment" />
	</resultMap>

	<!-- 게시글 상세 -->

	<select id="selectOne" parameterType="map" resultMap="board_rm">
		SELECT
		B.BOARD_NO,
		B.BOARD_TITLE,
		B.BOARD_CONTENT,
		B.READ_COUNT,
		B.MEMBER_NO,
		M.MEMBER_NICKNAME,
		M.MEMBER_IMG,
		TO_CHAR(B.BOARD_WRITE_DATE,
		'YYYY"년"
		MM"월" DD"일" HH24:MI:SS')
		AS BOARD_WRITE_DATE,

		/* 좋아요 수 */
		( SELECT
		COUNT(*)
		FROM "LIKE"
		WHERE BOARD_NO = #{boardNo} )
		AS LIKE_COUNT,

		/* 특정
		회원의 좋아요 여부 */
		( SELECT COUNT(*)
		FROM "LIKE"
		WHERE BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo} )
		AS LIKE_CHECK,

		/* 시군구 FK */
		B.TOWN_NO,

		/*
		군·구명 */
		( SELECT BT.TOWN_NAME
		FROM "BOARD_TOWN" BT
		WHERE BT.TOWN_NO =
		B.TOWN_NO )
		AS TOWN_NAME,

		/* 시·도 번호 */
		( SELECT BT.CITY_NO
		FROM
		"BOARD_TOWN" BT
		WHERE BT.TOWN_NO = B.TOWN_NO )
		AS CITY_NO,

		/* 시·도 이름 */
		(
		SELECT BC.CITY_NAME
		FROM "BOARD_CITY" BC
		JOIN "BOARD_TOWN" BT ON
		BC.CITY_NO = BT.CITY_NO
		WHERE BT.TOWN_NO = B.TOWN_NO )
		AS CITY_NAME

		,B.BOARD_SUBJECT
		FROM "BOARD" B
		JOIN "MEMBER" M ON B.MEMBER_NO =
		M.MEMBER_NO
		WHERE B.BOARD_DEL_FL = 'N'
		AND M.MEMBER_DEL_FL = 'N'
		AND
		B.BOARD_NO = #{boardNo}

	</select>


	<!-- 댓글 트리 -->
	<select id="selectCommentList"
		resultType="com.zipinfo.project.neighborhood.model.dto.NeighborhoodComment">
		SELECT LEVEL, C.*
		FROM (
		SELECT COMMENT_NO,
		COMMENT_CONTENT,
		TO_CHAR(COMMENT_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"')
		AS
		COMMENT_DATE,
		BOARD_NO,
		MEMBER_NO,
		MEMBER_NICKNAME,
		MEMBER_IMG,
		COMMENT_PARENT_NO,
		COMMENT_DEL_FL
		FROM "COMMENT"
		JOIN MEMBER USING
		(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
		) C
		WHERE COMMENT_DEL_FL = 'N'
		OR
		0 != (
		SELECT COUNT(*)
		FROM "COMMENT" SUB
		WHERE SUB.COMMENT_PARENT_NO =
		C.COMMENT_NO
		AND COMMENT_DEL_FL = 'N'
		)
		START WITH COMMENT_PARENT_NO IS
		NULL
		CONNECT BY PRIOR COMMENT_NO = COMMENT_PARENT_NO
		ORDER SIBLINGS BY
		COMMENT_NO
	</select>



	<!-- 조회수 +1 -->
	<update id="updateReadCount">
		UPDATE "BOARD"
		SET READ_COUNT = READ_COUNT + 1
		WHERE
		BOARD_NO = #{boardNo}
	</update>



	<!-- 현재 조회수 조회 -->
	<select id="selectReadCount">
		SELECT READ_COUNT
		FROM "BOARD"
		WHERE BOARD_NO =
		#{boardNo}
	</select>


	<!-- 좋아요 해제 -->
	<delete id="deleteLike">
		DELETE FROM "LIKE"
		WHERE MEMBER_NO = #{memberNo}
		AND
		BOARD_NO = #{boardNo}
	</delete>
	<!-- 좋아요 체크 -->
	<insert id="insertLike">
		INSERT INTO "LIKE"
		VALUES(#{memberNo}, #{boardNo})
	</insert>
	<!-- 총 좋아요 수 조회 -->
	<select id="selectBoardLike">
		SELECT COUNT(*) FROM "LIKE"
		WHERE BOARD_NO =
		#{boardNo}
	</select>

</mapper>
