.admin-dash-container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 0 auto;
}

.admin-dash-header {
  margin-top: 20px;
}

.admin-dash-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.admin-dash-info button {
  width: 100px;
  margin-left: 30px;
  border: 3px solid red;
  background-color: #fff;
  color: red;
}

.admin-dash-info button:hover {
  background-color: red;
  color: white;
}

.admin-dash-menu {
  display: flex;
}

.admin-dash-section {
  border: 1px solid #ddd;
  flex-basis: calc(100% / 2);
  padding: 20px;
  max-height: 650px;
  overflow-y: auto;
}

.admin-dash-section:first-child {
  margin-right: 20px;
}

.admin-dash-section h2 {
  margin: 0;
}

.admin-dash-restore {
  margin-top: 30px;
}

.admin-dash-list-box {
  border: 1px solid #ddd;
  padding: 50px;
  border-radius: 20px;
}

.admin-dash-tab-box {
  list-style: none;
  display: flex;
  padding: 0;
}

.admin-dash-tab-box a {
  text-decoration: none;
  color: fff;
  flex-basis: calc(100% / 3);
  border: 1px solid #ddd;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}

.admin-dash-tab-box a:hover {
  background-color: #0158b5;
  color: #fff;
  cursor: pointer;
}

.admin-dash-active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.admin-dash-statistics {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
}

.admin-dash-manager {
  display: flex;
}

.admin-dash-manager > .admin-dash-section:first-child {
  margin-right: 10px;
}

.admin-dash-manager input {
  width: 300px;
}

.admin-dash-issue-btn {
  margin-top: 20px;
}

.admin-dash-table {
  border-collapse: collapse;
  font-size: 20px;
}
