.my-page {
  min-height: 100vh;
  background-color: white;
}

.my-page-container {
  max-width: 1024px;
  margin: 0 auto;
}

.my-page-page-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.my-page-page-title h1 {
  font-size: 32px;
  font-weight: 600;
  color: #111;
  margin-bottom: 40px;
}

.my-page-tab-navigation {
  display: flex;
  justify-content: center;
}

.my-page-tab-container {
  display: flex;
  background-color: white;
  gap: 12px;
}

.my-page-tab-button {
  padding: 14px 12px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #dbdbdb;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.my-page-tab-button.active {
  background-color: #111;
  color: white;
  border: 1px solid #111;
}

.my-page-tab-button.inactive {
  background-color: white;
  color: #111;
}

.my-page-tab-button.inactive:hover {
  background-color: #f7f7f7;
}
