/* Password Form */
.pass-password-form {
  max-width: 500px;
  margin: 0 auto;
}

.pass-form-group {
  margin-bottom: 48px;
}

.pass-form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #111;
  font-size: 14px;
}

.pass-form-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.pass-form-input:focus {
  outline: none;
  border-color: #495cf8;
}

.pass-form-input::placeholder {
  color: #999;
}

.pass-form-inputs {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: -30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.pass-form-inputs:focus {
  outline: none;
  border-color: #495cf8;
}

.pass-form-inputs::placeholder {
  color: #999;
}

.pass-submit-button {
  width: 100%;
  padding: 14px;
  background-color: #4c6ef5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.pass-message {
  font-size: 12px;
}

.pass-valid-msg {
  font-size: 12px;
  color: green;
}

.pass-invalid-msg {
  font-size: 12px;
  color: red;
}

.pass-default-msg {
  font-size: 12px;
  color: gray;
}

.pass-message-div {
  margin-top: -36px;
  margin-bottom: 48px;
}
