/* AnnounceDetail.css */
.announce-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Pretendard, sans-serif;
  min-height: calc(100vh - 300px); /* 조금 더 줄임 */
  box-sizing: border-box; /* 패딩 포함 계산 */
}

.announce-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.announce-meta {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.announce-content {
  font-size: 16px;
  line-height: 1.6;
  white-space: pre-line;
  margin-bottom: 30px;
}

/* 버튼 스타일 */
.announce-buttons button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 8px;
  border-radius: 4px;
  color: white;
}

/* 수정 버튼 파란색 */
.announce-buttons .btn-edit {
  background-color: #007bff; /* 파란색 */
}

/* 삭제 버튼 검정색 */
.announce-buttons .btn-delete {
  background-color: #000000; /* 검정색 */
}

.announce-buttons button,
.back-button {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
